*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(About.jpg);
    background-position: center;
    background-size: cover; 
    position: relative;
}

nav{
    display: flex;
    padding: 0.5% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 100px;
    margin-top: 20px;
}


.nav-links{
    flex: 1;
    text-align: right;
    margin-top: -79;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin:auto;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width: 90%;
    color: #fff;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;

}

.text-box h1{
    font-size:62px;
}

.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color:#fff;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #ffff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover{
    border: 1px solide #c3b091;
    background: #c3b091;
    transition: 1s;
}

.p{
    color:black;
    font-size: 14px;
    font-weight: 100;
    line-break: 22px;
}

.about-1{
    margin: 30px;
    padding: 5px;
    margin-top: 72px;
}

.about-1 h1{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 36px;
    font-weight: 600;
    margin-top: 20px;
}

.about-1 p{
    text-align: center;
    padding: 3px;
    color: gray;
    margin-top: -10px;
}

.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: f0e68c;
    padding: 80px 30px;
    box-shadow: 0 0 9px rgba(0,0,0.6);
}

.about-item i{
    font-size: 43px;
    margin: 0;
}

.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}

.about-item hr{
    width: 46px;
    height: 3px;
    background-color: #5fbff9;
    margin: 0 auto;
    border: none;
    text-align: center;
}

.about-item:hover{
    background-color: #5fbff9;
}
.about-item:hover svg,
.about-item:hover h3,
.about-item:hover p{
    color: #fff;
}
.about-item:hover hr{
    background-color: #fff;
}

.about-item:hover svg{
    transform: translateY(-20px);
}
.about-item:hover svg,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
} 

.penghargaan{
    margin: 0;
    font-family: "Inter", "Odoo Unicode Support Noto", sans-serif;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.45;
    color: #343A40;
    text-align: left;
    background-color: #ffffff;
    box-sizing: border-box;
}

.aciv {
    margin-top: 68px;
    margin-bottom: 24;
}

.team{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Josefin Sans', sans-serif;
}
  
  .wrapper{
    margin-top: 96px;
  }
  
  .wrapper h1{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 38px;
    margin-bottom: 95px;
    text-align: center;
  }
  
  .ourteam{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
  }
  
  .team .team_member{
    background:#f0e68c;
    margin: 5px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 20px;
    color: #000000;  
    position: relative;
  }
  
  .team .team_member h3{
    color: #000000;
    font-size: 26px;
    margin-top: 50px;
  }
  
  .team .team_member p.role{
    color: #000000;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
  }
  
  .team .team_member .team_img{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #f0e68c;
  }
  
  .team .team_member .team_img img{
    width: 100px;
    height: 100px;
    padding: 5px;
  }


.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-bottom: 22px ;
    margin-top: 20px;
    font-weight: 600;
    font-size: 16px
}
.kontak{
    margin-bottom: -2px;
}

.icons .fa{
    color: #c3b091;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}
